*{
	margin: 0;
	padding: 0;
	font-size: 18px;
}
a{
	text-decoration: none;
	color: black;
}
.body{
	margin-top: 9vh;
	background: linear-gradient(120deg,#2980b9, #8e44ad);
	min-height: 92vh;
}
.container{
	padding: 5px;
	padding-top: 20vh;
	display: flex;
	flex-direction: column;
}
.titleCard{
	padding: 2px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(16, 15, 15);
	color: rgb(244, 237, 237);
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 255, 255);
	/* color: rgb(244, 237, 237); */
	margin: 4px 0;
}

.sno {
	width: 3vw;
	padding: 0 5px;
}

.name {
	margin: 5px;
	width: 13vw;
}
.email {
	margin: 5px;
	width: 20vw;
}

.date {
	text-align: center;
	margin: 5px;
	width: 10vw;
}

.cname {
	margin: 5px;
	width: 35vw;
}

.btndiv {
	margin: 5px;
	width: 20vw;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
}

.btndiv .btn {
	width: fit-content;
	padding: 2px 10px;
	margin: 4px;
	border-radius: 5px;
font-size: .9rem;

}
.btndiv .getCerti{
	
	margin: 4px;
    padding: 5px 30px;
    color: black;
    background: linear-gradient(120deg,#d5127d, #0b81e9);
    border: none;
    border-radius: 15px;
    transition: .2s ease-in;
	color: white;
}

.btndiv .edit {
	padding: 5px 20px;
	background-color: rgb(12, 241, 12);
	
}
.btndiv .delete {
	padding: 5px 20px;
	background-color: rgba(239, 9, 9, 0.848);
	
}