
.body{
    /* margin-top: 15vh; */
    margin-top: 8vh;
    min-height: 100vh;
    /* width: 0vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120deg,#2980b9, #8e44ad);

}

a{
    text-decoration: none;
    cursor: pointer;
}