* {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.body {
  /* margin-top: 9vh; */
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  min-height: 92vh;
  display: flex;
  flex-direction: column;
}

.formContainer {
  padding: 5px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5vh;
  border-radius: 10px;
  align-items: center;
}

.select-box {

  width: 30vw;
}

.select-box select {
  width: 50%;
  padding: 6px 10px;
  border-radius: 5px;
  color: black;
  margin: 10px;
  outline: none;
  /* cursor: pointer; */
  border: 1px solid black;
  font-size: .9rem;
  display: flex;
  flex-direction: column;
}

.select-box select option {
  margin: 1px;
  border: 1px solid black;
  /* font-size: .9rem; */
}

input {
  padding: 6px 10px;
  border-radius: 5px;
  color: black;
  margin: 10px;
  outline: none;
  cursor: pointer;
  border: 1px solid black;
  font-size: .9rem;

}

.input-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

input[type="submit"] {
  width: 20%;
  height: 40px;
  margin: 2vh;
  border: 1px solid;
  background: linear-gradient(120deg, #ec0dc7, #330be9);
  border-radius: 25px;
  font-size: 15px;
  color: #e9f4fb;
  font-weight: 400;
  cursor: pointer;
  outline: none;
}


.container {
  padding: 5px;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
}

.titleCard {
  padding: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(16, 15, 15);
  color: rgb(244, 237, 237);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  /* color: rgb(244, 237, 237); */
  /* margin: 4px 0; */
}



.name {
  text-align: center;
  margin: 5px;
  width: 17vw;
}

.date {
  text-align: center;
  margin: 5px;
  width: 11vw;
}

.cname {
  text-align: center;
  margin: 5px;
  width: 17vw;

}

.address {
  text-align: center;
  margin: 5px;
  width: 20vw;

}

.g_name {
  text-align: center;
  margin: 5px;
  width: 15vw;

}

.btndiv {
  margin: 5px;
  width: 15vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.btndiv .btn {
  width: fit-content;
  padding: 2px 10px;
  margin: 4px;
  border-radius: 5px;
  font-size: .9rem;

}

.btndiv .edit {
  background-color: rgb(27, 225, 27);

}

.btndiv .delete {
  background-color: rgba(238, 5, 5, 0.848);

}